<div class="row d-flex">
  <div class="col-sm-9">
    <div class="input-group">
      <input #searchBox type="text" class="form-control" placeholder="Cerca nome.." (keyup)="search(searchBox.value)" style="height: 40px">
      <app-new-visit></app-new-visit>
      <button class="plus-button btn btn-sm btn-outline-warning mr-2" (click)="refresh()" style="width: 40px;height: 40px;"><span class="glyphicon glyphicon-refresh"></span> </button>
    </div>
  </div>
</div>
<table id="table" class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Luogo</th>
      <th scope="col">Badge</th>
      <th scope="col">Ospite</th>
      <th scope="col">Ospitante</th>
      <th scope="col">Ragione</th>
      <th scope="col">Data</th>
      <th scope="col">Orario Entrata</th>
      <th scope="col">Orario Uscita</th>
      <th>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{placeLabel}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
            <button *ngFor="let place of places" class="dropdown-item" (click)="setCurrentPlace(place)">{{place.name}}</button>
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody *ngFor="let visit of visits; let i=index">
    <tr>
      <th scope="row">{{i + 1}}</th>
      <td>{{visit.place.name}}</td>
      <td>{{visit.badgeNo}}</td>
      <td>{{visit.guestName}}</td>
      <td>{{visit.hostName}}</td>
      <td>{{visit.socialReason}}</td>
      <td>{{visit.entranceDate}}</td>
      <td>{{visit.entranceTime}}</td>
      <td>{{visit.leavingTime}}</td>
      <td>
        <button (click)="setVisitForm(visit)" class="btn btn-sm btn-outline-primary mr-2"><span class="glyphicon glyphicon-repeat"></span></button>
        <button (click)="editVisit(visit)" class="btn btn-sm btn-outline-warning mr-2"><span class="glyphicon glyphicon-pencil"></span></button>
        <button [disabled]="disableDelete"  (click)="deleteVisit(visit)" class="btn btn-sm btn-outline-danger mr-2"><span class="glyphicon glyphicon-trash"></span></button>
      </td>
    </tr>
  </tbody>
</table>
<app-edit-visit></app-edit-visit>
