<button class="plus-button btn btn-sm btn-outline-success mr-2" (click)="open(content)" style="width: 40px;height: 40px;"><span class="glyphicon glyphicon-plus"></span> </button>

<ng-template #content>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Crea Visita</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #visitForm="ngForm">
      <div [hidden]="visitForm.submitted">
        <div class="cross-validation" [class.cross-validation-error]="visitForm.errors?.identityRevealed && (visitForm.touched || visitForm.dirty)">
          <div class="form-group">
            <form class="form-inline">
              <div class="input-group">
                <input class="form-control" placeholder="Data entrata.."
                       name="dp" [(ngModel)]="entranceDate" ngbDatepicker #d="ngbDatepicker"
                       (ngModelChange)="assignEntranceDate()">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="form-group">
            <input id="guestName" name="guestName" class="form-control"
                   required appForbidden=".*[-\/\\^%$*+£?&.()|[\]{}].*"
                   [(ngModel)]="visit.guestName" #guestName="ngModel"
                   placeholder="Nome ospite..">

            <div *ngIf="guestName.invalid && (guestName.dirty || guestName.touched)" class="alert alert-danger">
              <div *ngIf="guestName.errors.required">Nome ospite obbligatorio</div>
              <div *ngIf="guestName.errors.forbidden">Un nome non può contenere caratteri speciali</div>
            </div>
          </div>

          <div class="form-group">
            <input id="hostName" name="hostName" class="form-control"
                   required appForbidden=".*[-\/\\^%$*+£?&.()|[\]{}].*"
                   [(ngModel)]="visit.hostName" #hostName="ngModel"
                   placeholder="Nome persona visitata..">

            <div *ngIf="hostName.invalid && (hostName.dirty || hostName.touched)" class="alert alert-danger">
              <div *ngIf="hostName.errors.required">Nome persona visitata obbligatorio</div>
              <div *ngIf="hostName.errors.forbidden">Un nome non può contenere caratteri speciali</div>
            </div>
          </div>
          <div class="form-group">
            <input id="socialReason" name="socialReason" class="form-control"
                   appForbidden=".*[-\/\\^%$*+£?&.()|[\]{}].*"
                   [(ngModel)]="visit.socialReason" #socialReason="ngModel"
                   placeholder="Ragione sociale..">

            <div *ngIf="socialReason.invalid && (socialReason.dirty || socialReason.touched)" class="alert alert-danger">
              <div *ngIf="socialReason.errors.required">Ragione sociale obbligatora</div>
              <div *ngIf="socialReason.errors.forbidden">Non può contenere caratteri speciali</div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle form-control" type="button" id="dropdownMenuButton"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{documentLabel}}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                    <a *ngFor="let d of documentTypes" class="dropdown-item"
                            (click)="setDocumentType(d)">{{d}}</a>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <input *ngIf="visit.guestDocumentType" id="guestDocumentNo" name="guestDocumentNo" class="form-control"
                       [(ngModel)]="visit.guestDocumentNo" #guestDocumentNo="ngModel"
                       placeholder="Numero documento..">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm">
                <div class="form-check">
                  <input id="exampleCheck1" type="checkbox" class="form-check-input"
                         (click)="toggleLeavingDate()">
                  <label class="form-check-label">Aggiungi data di uscita</label>
                </div>
              </div>
              <div class="col-sm">
                <div class="form-group" *ngIf="showLeavingDate" >
                  <form class="form-inline">
                    <div class="input-group">
                      <input class="form-control" placeholder="Data uscita.."
                             name="dp" [(ngModel)]="leavingDate"
                             (ngModelChange)="assignLeavinDate()"  ngbDatepicker #d="ngbDatepicker">

                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                      </div>
                    </div>
                  </form>
                  <div class="alert alert-danger" *ngIf="comparableEntranceDate>comparableLeavingDate">
                    La data di entrata non può essere minore alla data di uscita
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="plus-button btn btn-sm btn-outline-primary mr-2" (click)="addVisit()" [disabled]="visitForm.invalid || (showLeavingDate && comparableEntranceDate>comparableLeavingDate)">Crea</button>
        </div>
      </div>
      <div class="submitted-message" *ngIf="visitForm.submitted">
        <p>Visita aggiunta con successo</p>
      </div>
    </form>
  </div>
</ng-template>
