<div *ngIf="show"  class="container">
  <h4>Nuova Visita</h4>
  <form #visitForm="ngForm">
    <div [hidden]="visitForm.submitted">
      <div class="cross-validation" [class.cross-validation-error]="visitForm.errors?.identityRevealed && (visitForm.touched || visitForm.dirty)">
        <div class="form-group">
          <form class="form-inline">
            <div class="input-group">
              <input class="form-control" placeholder="Data entrata.."
                     name="dp" [(ngModel)]="entranceDate" ngbDatepicker #d="ngbDatepicker"
                     (click)="assignEntranceDate()">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                  <span class="glyphicon glyphicon-calendar"></span>
                </button>
              </div>
            </div>
          </form>
        </div>
        <!-- name form -->
        <div class="form-group">
          <input id="guestName" name="guestName" class="form-control"
                 required minlength="2" appForbidden=".*[-\/\\^%$*+£?&.()|[\]{}].*"
                 [(ngModel)]="visit.guestName" #guestName="ngModel"
                 placeholder="Persona visitata..">

          <div *ngIf="guestName.invalid && (guestName.dirty || guestName.touched)" class="alert alert-danger">
            <div *ngIf="guestName.errors.required">Visitor's name is required.</div>
            <div *ngIf="guestName.errors.minlength">Visitor's name must be at least 2 characters long.</div>
            <div *ngIf="guestName.errors.forbidden">Visitor's name cannot contains special characters.</div>
          </div>
        </div>
        <!-- person to visit name form -->
        <div class="form-group">
          <input id="hostName" name="hostName" class="form-control"
                 required minlength="2" appForbidden=".*[-\/\\^%$*+£?&.()|[\]{}].*"
                 [(ngModel)]="visit.hostName" #hostName="ngModel"
                 placeholder="Persona da visitare..">

          <div *ngIf="hostName.invalid && (hostName.dirty || hostName.touched)" class="alert alert-danger">
            <div *ngIf="hostName.errors.required">The name of the person to visit is required.</div>
            <div *ngIf="hostName.errors.minlength">The name of the person to visit must be at least 2 characters long.</div>
            <div *ngIf="hostName.errors.forbidden">The name of the person to visit cannot contains special characters.</div>
          </div>
        </div>
        <!-- reason form -->
        <div class="form-group">
          <input id="socialReason" name="socialReason" class="form-control"
                 required minlength="5" appForbidden=".*[-\/\\^%$*+£?&.()|[\]{}].*"
                 [(ngModel)]="visit.socialReason" #socialReason="ngModel"
                 placeholder="Ragione sociale..">

          <div *ngIf="socialReason.invalid && (socialReason.dirty || socialReason.touched)" class="alert alert-danger">
            <div *ngIf="socialReason.errors.required">Reason is required.</div>
            <div *ngIf="socialReason.errors.minlength">Reason must be at least 5 characters long.</div>
            <div *ngIf="socialReason.errors.forbidden">Reason cannot contains special characters.</div>
          </div>
        </div>
        <!-- document type and number form -->

        <div class="form-group">
          <div class="dropdown">
            <button class="btn btn-info dropdown-toggle form-control" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{documentLabel}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
              <a *ngFor="let d of documentTypes" class="dropdown-item"
                      (click)="setDocumentType(d)">{{d}}</a>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="visit.guestDocumentType">
          <input id="guestDocumentNo" name="guestDocumentNo" class="form-control"
                 [(ngModel)]="visit.guestDocumentNo" #guestDocumentNo="ngModel"
                 placeholder="Numero documento..">
        </div>

        <div class="form-group">
          <div class="form-check">
            <input id="exampleCheck1" type="checkbox" class="form-check-input"
                   (click)="toggleLeavingDate()">
            <label class="form-check-label">Aggiungi data di uscita</label>
          </div>
        </div>
        <div class="form-group" *ngIf="showLeavingDate" >
          <form class="form-inline">
            <div class="input-group">
              <input class="form-control" placeholder="Data uscita.."
                     name="dp" [(ngModel)]="leavingDate"
                     (click)="assignLeavingDate()"  ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                  <span class="glyphicon glyphicon-calendar"></span>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="submit" class="plus-button btn btn-sm btn-outline-primary mr-2" (click)="addVisit()" [disabled]="visitForm.invalid">Crea</button>
          <button type="button" class="plus-button btn btn-sm btn-outline-primary mr-2" (click)="reset()">Reset</button>
          <button type="button" class="plus-button btn btn-sm btn-outline-primary mr-2" (click)="closeForm()">Chiudi</button>
        </div>
      </div>
    </div>
    <div class="submitted-message" *ngIf="visitForm.submitted">
      <p>Visita aggiunta con successo</p>
      <button type="button" class="btn btn-default" (click)="visitForm.resetForm({});reset()">Aggiungi una nuova visita</button>
    </div>
  </form>
</div>
