<!-- <button class="plus-button btn btn-sm btn-outline-success mr-2" ><span class="glyphicon glyphicon-plus"></span> </button> -->

<ng-template #content let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title pull-left">Modifica Visita</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #visitForm="ngForm">
      <div [hidden]="visitForm.submitted">
        <div class="cross-validation" [class.cross-validation-error]="visitForm.errors?.identityRevealed && (visitForm.touched || visitForm.dirty)">
          <div class="form-group">
            <input id="badgeNo" name="badgeNo" class="form-control"
                   [disabled]="isBadgeAssigned || isLeavingTimeAssigned"
                   required [(ngModel)]="visit.badgeNo" #badgeNo="ngModel"
                   placeholder="Numero Badge..">
            <div *ngIf="badgeNo.invalid" class="alert alert-danger">
              <div *ngIf="badgeNo.errors.required">Numero badge obbligatorio</div>
            </div>
          </div>
          <div class="form-group">
            <form class="form-inline">
              <div class="input-group">
                <input class="form-control" placeholder="Data entrata.."
                       [disabled]="visit.entranceDate || isLeavingTimeAssigned"
                       name="dp" [(ngModel)]="entranceDate" ngbDatepicker #d="ngbDatepicker"
                       (click)="assignEntranceDate()">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="form-group">
            <input id="guestName" name="guestName" class="form-control"
                   [disabled]="isGuestNameAssigned || isLeavingTimeAssigned"
                   required appForbidden=".*[-\/\\^%$*+£?&.()|[\]{}].*"
                   [(ngModel)]="visit.guestName" #guestName="ngModel"
                   placeholder="Nome ospite..">

            <div *ngIf="guestName.invalid" class="alert alert-danger">
              <div *ngIf="guestName.errors.required">Nome ospite obbligatorio</div>
              <div *ngIf="guestName.errors.forbidden">Un nome non può contenere caratteri speciali</div>
            </div>
          </div>

          <div class="form-group">
            <input id="hostName" name="hostName" class="form-control"
                   [disabled]="isHostNameAssigned || isLeavingTimeAssigned"
                   required appForbidden=".*[-\/\\^%$*+£?&.()|[\]{}].*"
                   [(ngModel)]="visit.hostName" #hostName="ngModel"
                   placeholder="Nome persona visitata..">

            <div *ngIf="hostName.invalid" class="alert alert-danger">
              <div *ngIf="hostName.errors.required">Nome persona visitata obbligatorio</div>
              <div *ngIf="hostName.errors.forbidden">Un nome non può contenere caratteri speciali</div>
            </div>
          </div>
          <div class="form-group">
            <input id="socialReason" name="socialReason" class="form-control"
                   [disabled]="isLeavingTimeAssigned"
                   appForbidden=".*[-\/\\^%$*+£?&.()|[\]{}].*"
                   [(ngModel)]="visit.socialReason" #socialReason="ngModel"
                   placeholder="Ragione sociale..">

            <div *ngIf="socialReason.invalid" class="alert alert-danger">
              <div *ngIf="socialReason.errors.required">Ragione sociale obbligatora</div>
              <div *ngIf="socialReason.errors.forbidden">Non può contenere caratteri speciali</div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm">
                <input id="entranceTime" name="entranceTime" class="form-control"
                       [disabled]="isEntranceTimeAssigned || isLeavingTimeAssigned"
                       pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
                       [(ngModel)]="visit.entranceTime" #entranceTime="ngModel"
                       placeholder="Orario entrata..">
                <div *ngIf="entranceTime.invalid" class="alert alert-danger">
                 <div *ngIf="entranceTime.errors.pattern">L'orario deve essere nel formato HH:MM</div>
                </div>
              </div>
              <div class="col-sm">
                <input id="leavingTime" name="leavingTime" class="form-control"
                       [disabled]="isLeavingTimeAssigned"
                       pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
                       [(ngModel)]="visit.leavingTime" #leavingTime="ngModel"
                       placeholder="Orario uscita..">
                <div *ngIf="leavingTime.invalid || (visit.entranceDate>visit.leavingDate)" class="alert alert-danger">
                  <div *ngIf="leavingTime.errors.pattern">L'orario deve essere nel formato HH:MM</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle form-control" type="button" id="dropdownMenuButton"
                          [disabled]="isLeavingTimeAssigned"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{documentLabel}}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                    <a *ngFor="let d of documentTypes" class="dropdown-item"
                            (click)="setDocumentType(d)">{{d}}</a>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <input *ngIf="visit.guestDocumentType" id="guestDocumentNo" name="guestDocumentNo" class="form-control"
                       [disabled]="isLeavingTimeAssigned"
                       [(ngModel)]="visit.guestDocumentNo" #guestDocumentNo="ngModel"
                       placeholder="Numero documento..">
              </div>
            </div>
          </div>
          <button type="submit" class="plus-button btn btn-sm btn-outline-primary mr-2"
                  (click)="editVisit()" [disabled]="visitForm.invalid">Applica Modifiche</button>
        </div>
      </div>
      <div class="submitted-message" *ngIf="visitForm.submitted">
        <p>{{resultMessage}}</p>
      </div>
    </form>
  </div>
</ng-template>
